.addCategory.addCategory.addCategory {
    margin: .5em;
    width: calc(100% - 1em);
}

.header.header.header.header {
    flex-basis: 0;
}

.content.content.content {
    padding: 0;
    box-shadow: none;
}
