.divider {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.innerDivider {
    margin-top: 0 !important;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.container {
    margin-top: 0 !important;
}

.hideButton {
    padding-top: 0 !important;
}

.computerButton {
    display: none;
}

@media screen and (min-width: 768px) {
    .hideButton {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .mobileButtons {
        display: none;
    }
    .computerButton {
        display: block;
    }
}
