.divider {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.innerDivider {
    margin-top: 0 !important;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.container {
    margin-top: 0 !important;
}

.hideButton {
    padding-top: 0 !important;
}
