.inlineLoader.inlineLoader.inlineLoader {
    padding: 0 2.5em;
}

.computerHeader {
    display: none;
}

.container.container.container {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .container > [class*="sixteen wide mobile"]:not(:first-child) {
        padding-top: 0 !important;
    }

    .inlineLoader.inlineLoader.inlineLoader {
        padding: 0 1.5em;
    }

    .inlineLoader.inlineLoader.inlineLoader:after {
        height: 2em;
        width: 2em;
        margin: -1.5em 0 0 -1em;
    }
}

@media screen and (min-width: 992px) {
    .computerHeader {
        display: block;
    }
}
